.restore-icon {
  color: transparent;
  background-image: url("icon/restore.png");
  background-repeat: no-repeat;
  display: block;
  height: 24px;
}

.download-icon {
  color: transparent;
  background-image: url("icon/download.png");
  background-repeat: no-repeat;
  display: block;
  height: 24px;
}

.restore-current-version {
  float: right;
}
